@import "tailwindcss";

* {
  font-family: 'Robot', sans-serif;
}

.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}

.inputsProduct{
  border: 1px solid #D9D9D9;
  padding: 0.4rem;
}

.selector {
  background-color: #E5E7EB; /* gray-200 */
  cursor: pointer;
  transition: #D1D5DB 0.2s ease;
  border-radius: 2px;
  margin-right: 4px;
}

.selector:hover {
  background-color: #D1D5DB; /* gray-300 */
}

.buttons{
  cursor: pointer;
  border-radius: 2px;
  color: white;
  padding: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}